[Unit]
Description=Data resizing
DefaultDependencies=no
RefuseManualStart=true
RefuseManualStop=true
Before=mnt-data.mount
Requires=dev-disk-by\x2dlabel-\x2ddata.device
After=dev-disk-by\x2dlabel-\x2ddata.device systemd-fsck@dev-disk-by\x2dlabel-\x2ddata.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/os-data-expand.sh

[Install]
WantedBy=local-fs.target


