[Unit]
Description=Initialize disk layout
After=local-fs.target
Wants=local-fs.target

[Service]
ExecStart=/usr/libexec/os-init-disk.sh
Type=oneshot

[Install]
WantedBy=multi-user.target


