CONFIG_ENV_SIZE=0x8000
CONFIG_ENV_OFFSET=0x100000
CONFIG_ENV_OFFSET_REDUND=0x200000
CONFIG_BOOTDELAY=3
CONFIG_BOOTARGS_SUBST=y
# CONFIG_AUTOBOOT_MENU_SHOW is not set
CONFIG_PREBOOT=""
CONFIG_SYS_PROMPT="UCOS> "
CONFIG_CMD_SQUASHFS=y
# CONFIG_ENV_IS_IN_FAT is not set
CONFIG_ENV_IS_IN_MMC=y
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
