[Unit]
Description=Unipi Modbus TCP Server
Before=unipi-control.service
After=systemd-modules-load.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/unipitcp
ExecStartPre=/opt/unipi/tools/unipiconfig.sh
ExecStart=/opt/unipi/tools/unipi_tcp_server_dev -v -l ${LISTEN_IP} -p ${LISTEN_PORT}
TimeoutStopSec=3
SyslogIdentifier=unipi
WorkingDirectory=/opt/unipi/tools
Restart=on-failure

[Install]
WantedBy=multi-user.target
