[Unit]
Description=Pro-active monitoring utility for unix systems
After=network.target
Documentation=man:monit(1) https://mmonit.com/wiki/Monit/HowTo

[Service]
Type=simple
KillMode=process
ExecStart=/bin/monit -I -c /etc/monit/monitrc
ExecStop=/bin/monit -c /etc/monit/monitrc quit
ExecReload=/bin/monit -c /etc/monit/monitrc reload
Restart=on-abnormal
StandardOutput=null

[Install]
WantedBy=multi-user.target
