[Unit]
Description=Persistent /etc/hosts
Requires=os-overlay.service
After=mnt-overlay.mount os-overlay.service
Before=network.target

[Mount]
What=/mnt/overlay/etc/hosts
Where=/etc/hosts
Type=none
Options=bind

[Install]
WantedBy=os-bind.target
