[Unit]
Description=Overlay for /etc
After=mnt-overlay.mount

[Mount]
What=overlay
Where=/etc2
Type=overlay
Options=lowerdir=/etc2,upperdir=/mnt/overlay/etc,workdir=/mnt/overlay/.atomic

[Install]
WantedBy=local-fs.target
