[Unit]
Description=Home partition
Requires=os-data.service
After=mnt-data.mount os-data.service
Before=network.target

[Mount]
What=/mnt/data/users
Where=/home
Type=none
Options=bind

[Install]
WantedBy=os-bind.target
