[Unit]
Description=Overlay for /home
Requires=os-overlay.service
After=mnt-overlay.mount os-overlay.service
Before=network.target

[Mount]
What=overlay
Where=/home
Type=overlay
Options=lowerdir=/home,upperdir=/mnt/overlay/home,workdir=/mnt/overlay/.work-home

[Install]
WantedBy=local-fs.target
