[Unit]
Description=Set up machine-id
DefaultDependencies=no
After=etc.mount
DefaultDependencies=no
ConditionPathIsReadWrite=/etc
ConditionFileNotEmpty=!/etc/machine-id

[Service]
Type=simple
ExecStart=systemd-machine-id-setup

[Install]
WantedBy=local-fs.target
