[Unit]
Description=Overlay for /opt/unipi
After=mnt-overlay.mount os-overlay.service

[Mount]
What=overlay
Where=/opt/unipi
Type=overlay
Options=lowerdir=/opt/unipi,upperdir=/mnt/overlay/opt/unipi,workdir=/mnt/overlay/.atomic

[Install]
WantedBy=local-fs.target
