[Unit]
Description=Overlay for /opt/unipi
After=mnt-data.mount os-data.service

[Mount]
What=overlay
Where=/opt/unipi
Type=overlay
Options=lowerdir=/opt/unipi,upperdir=/mnt/data/opt/unipi,workdir=/mnt/data/.atomic

[Install]
WantedBy=local-fs.target
