[Unit]
Description=Data resizing
DefaultDependencies=no
RefuseManualStart=true
RefuseManualStop=true
Before=data.mount
Requires=dev-disk-by\x2dpartlabel-data.device
After=dev-disk-by\x2dpartlabel-data.device systemd-fsck@dev-disk-by\x2dpartlabel-data.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/os-data-expand.sh
RemainAfterExit=true

[Install]
WantedBy=local-fs.target


