[Unit]
Description=Overlay setup
DefaultDependencies=no
RefuseManualStart=true
RefuseManualStop=true
Requires=mnt-overlay.mount
After=mnt-overlay.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/os-overlay-setup.sh
RemainAfterExit=true

[Install]
WantedBy=local-fs.target
