[Unit]
Description=Overlay setup
DefaultDependencies=no
RefuseManualStart=true
RefuseManualStop=true
After=overlay.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/os-overlay-setup.sh
RemainAfterExit=true

[Install]
WantedBy=local-fs.target
