[Unit]
Description=Root partition
Requires=mnt-overlay.mount
After=mnt-overlay.mount os-overlay.service
Before=network.target

[Mount]
What=/mnt/overlay/root
Where=/root
Type=none
Options=bind

[Install]
WantedBy=os-bind.target
