[Unit]
Description=Persistent /root
Requires=os-data.service
After=mnt-data.mount os-data.service
Before=network.target

[Mount]
What=/mnt/data/root
Where=/root
Type=none
Options=bind

[Install]
WantedBy=os-bind.target
