[Unit]
Description=Overlay for /root
Requires=os-overlay.service
After=mnt-overlay.mount os-overlay.service
Before=network.target

[Mount]
What=overlay
Where=/root
Type=overlay
Options=lowerdir=/root,upperdir=/mnt/overlay/root,workdir=/mnt/overlay/.atomic

[Install]
WantedBy=local-fs.target
