[Unit]
Description=Unipi Control
After=multi-user.target
Requires=unipitcp.service
ConditionPathExists=/mnt/data/venv/bin/unipi-control
ConditionPathExists=/mnt/data/config/control.yaml

[Service]
Type=simple
ExecStart=/mnt/data/venv/unipi-control/bin/unipi-control \
    --config /mnt/data/config/unipi-control \
    --log systemd
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
