[Unit]
Description=Unipi Modbus TCP Server
Before=unipi-control.service
After=systemd-modules-load.service

[Service]
Type=simple
EnvironmentFile=-/usr/local/etc/default/unipitcp
ExecStartPre=/usr/local/opt/unipi/tools/unipiconfig.sh
ExecStart=/usr/local/opt/unipi/tools/unipi_tcp_server -v -l ${LISTEN_IP} -p ${LISTEN_PORT}
TimeoutStopSec=3
SyslogIdentifier=unipi
WorkingDirectory=/usr/local/opt/unipi/tools

[Install]
WantedBy=multi-user.target
