[Unit]
Description=Update hostname
After=etc.mount
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/hostname -F /etc/hostname

[Install]
WantedBy=local-fs.target
