[Unit]
Description=Overlay for /usr/local
After=mnt-overlay.mount os-overlay.service

[Mount]
What=overlay
Where=/usr/local
Type=overlay
Options=lowerdir=/usr/local,upperdir=/mnt/overlay/usr/local,workdir=/mnt/overlay/.atomic

[Install]
WantedBy=local-fs.target
