[Unit]
Description=Overlay for /usr/local
After=mnt-data.mount os-data.service

[Mount]
What=overlay
Where=/usr/local
Type=overlay
Options=lowerdir=/usr/local,upperdir=/mnt/data/usr/local,workdir=/mnt/data/.atomic

[Install]
WantedBy=local-fs.target
