[Unit]
Description=Persistent /var/lib/opkg
Requires=mnt-overlay.mount
After=mnt-overlay.mount

[Mount]
What=/mnt/overlay/var/lib/opkg
Where=/var/lib/opkg
Type=ext4
Options=defaults,noatime,commit=30

[Install]
WantedBy=os-bind.target
