[Unit]
Description=Persistent logging
Requires=data.mount
After=data.mount
Before=docker.service mosquitto.service

[Mount]
What=/mnt/overlay/var/log
Where=/var/log
Type=none
Options=bind

[Install]
WantedBy=os-bind.target
