[Unit]
Description=Persistent /var/log
Requires=mnt-data.mount
After=mnt-data.mount
Before=unipi-control.service mosquitto.service

[Mount]
What=/mnt/data/var/log
Where=/var/log
Type=none
Options=bind

[Install]
WantedBy=os-bind.target
