[Unit]
Description=Persistent /var/monit
Requires=mnt-overlay.mount
After=mnt-overlay.mount

[Mount]
What=/mnt/overlay/var/monit
Where=/var/monit
Type=ext4
Options=defaults,noatime,commit=30

[Install]
WantedBy=os-bind.target
