[Unit]
Description=Overlay for /var
Requires=os-overlay.service
After=mnt-overlay.mount os-overlay.service

[Mount]
What=overlay
Where=/var
Type=overlay
Options=lowerdir=/var,upperdir=/mnt/overlay/var,workdir=/mnt/overlay/.atomic

[Install]
WantedBy=local-fs.target
